<h4>Demo LTI Assignment Tool</h4>

<form action="/assignment" method="post">
  <p>Hi, <%= @username %>.</p>
  <p>On a scale from <code>0.0</code> to <code>1.0</code>, how well would you say you did on this assignment?</p>

  <div class="form-group">
    <input name="score" type="text" id="score" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  <% @tool_provider.to_params.each do |key, value| %>
    <input type="hidden" name="launch_params[<%= key %>]" value="<%= value %>" />
  <% end%>
</form>
