<div class="alert alert-success" role="alert">
  Hi, <%= @username %>. Congrats on the successful LTI Launch!
</div>

<% if @tool_provider.instructor? %>
  <p>You are a teacher, so you could configure this tool now, if it had any configurations to change.</p>
  <p>If you come back as a student, this should look different.</p>
<% elsif @tool_provider.student? %>
  <p>Great news, student! This isn't an assignment launch. Enjoy!</p>
<% elsif @tool_provider.roles && @tool_provider.roles.any? %>
  <p>Your roles are <%= @tool_provider.roles.join(",") %></p>
<% else %>
  <p>From what I can tell, you don't have a role. I don't know what to do with you.</p>
<% end %>

<%= erb :_params_table %>

<h4>Request Signature</h4>
<p>
  These are the two parts that are used to sign the request.  The signature is
  calculated using <%= params['oauth_signature_method'] %>, and then it
  is encoded to base64.
</p>

<div class="form-group">
  <label for="signature_base_string"><b>signature_base_string</b></label>
  <textarea readonly="readonly" id="signature_base_string" class="form-control" rows="5">
    <%= @signature_base_string %>
  </textarea>
</div>

<div class="form-group">
  <label for="secret"><b>secret</b></label>
  <textarea readonly="readonly" id="secret" class="form-control" rows="5">
    <%= @secret %>
  </textarea>
</div>

<%= erb :_return_to_consumer %>
